
.background{
    background-color: rgb(14, 13, 13);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  
          }
  
  
  #title{
    position: absolute;
    right: 320px;
    top: 70px;
    size: 90px;
    padding-bottom:0px;
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(210, 236, 62);
  }

#question{
    position: absolute;
    display: block;
    size: 15px;
    padding-bottom:0px;
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(210, 236, 62);
}

  
  #textbox{
    background-color: rgb(14, 13, 13);
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 65px;
    top: 280px;
  }
  
  #button {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 65px;
    top: 140px;
    background-color:  rgb(14, 13, 13);
  
    display: block;
    border-radius: 50px 50px;
    border: 4px solid #7ac21d;
    padding: 10px 14px 10px 14px ;
    text-decoration: none;
    text-align: center;
    margin: 14px;
  
  
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(227, 240, 157);
  
  }
  
  #button1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 65px;
    top: 200px;
    background-color:  rgb(14, 13, 13);
  
    display: block;
    border-radius: 50px 50px;
    border: 4px solid #7ac21d;
    padding: 10px 14px 10px 14px ;
    text-decoration: none;
    text-align: center;
    margin: 14px;
  
  
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(227, 240, 157);
  
  }
  
  #username{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(210, 236, 62);
  }
  
  #password{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(210, 236, 62);
  }
  
  #con_password{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(210, 236, 62);
  }
  
  a {
  
    display: block;
    border-radius: 50px 50px;
    border: 4px solid #7ac21d;
    padding: 10px 14px 10px 14px ;
    text-decoration: none;
    text-align: center;
    margin: 14px;
  
  
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(227, 240, 157);
  }
  
  a:hover {
    background-color: rgb(185, 22, 22);
    border-color: rgb(36, 201, 187);
    color: rgb(36, 201, 187);
  
  
  }
  
  a:active {
    background-color: black;
  }
  
  a:visited {
    background-color: rgb(14, 13, 13);
  }